# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

**/GoogleService-Info.plist
**/google-services.json
**/xcuserdata/
**/*.xcuserstate
**/*.xccheckout
**/*.xcscmblueprint

# Xcode workspace data
**/*.xcodeproj/project.xcworkspace/
**/*.xcworkspace/xcuserdata/

# Derived data
DerivedData/
android/build/ios/XCBuildData/PIFCache/project/PROJECT@v11_mod=8ef11da2db232db59152972e9c015967_hash=bfdfe7dc352907fc980b868725387e98plugins=1OJSG6M1FOV3XYQCBH7Z29RZ0FPR9XDE1-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=1f5e3911d1a8d09b6b7fa05ffa63384f-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=2a0d72b7b3ef0dfa1ff8085a68f5b86a-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=4b2aea1a3f1f8b57872e6f444bb9f115-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=4e497ef4e3eb4c02ce7aea8228dd2f0b-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=5cd5dbe27588e5b2f0219ea92403a2d2-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=6a9ff3394a3f39805d73db06835916b1-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=8d56fb90239b804f4136b1b3ace3ed2a-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=8f09042f91619d04097e49f898505ad3-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=9e594c3e5ea1010f8e56c101fb8547f8-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=9f63c1282e8ae1ca6947e6f9a8c695f9-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=31a6c5208f2fe3fe8b694e4b40a72f72-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=53fe955a7fe04fac308677bf3f1635a9-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=59a21734a147b851075b8a39175206e4-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=84f4b47da9823f90461483ee1f1599df-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=85a9108f62245591e45329171a9f373d-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=2371da654456fbcc9f08eae33c07e58e-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=46122b5bb66668468f387d5da29264a3-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=58363e471ba5369b6db68b4155de01ec-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=115522dac538da15cc572025d4779945-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=229604cb682626dac709d2c9a44ae366-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=553741395d9ac6f597b8e76eaaa81a0c-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=5210493164135bba126d831634ac1ae7-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=a410f738e7c40230d6b27ed5907fddbc-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=acba76aaa605852b03c5396aa4a6dc1a-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=b3dc52029f73e43963810add4142b5d0-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=b606f9288eb5f8b8532322bac87422ea-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=baaea3dad00134b9f0398b4729843a75-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=d463fdb9e97c084e0d0d1aa05e709e0f-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=dcc0248b1216b5832ae59868f23249c1-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=e4f63e2a8b86af15ff00fb1cf586c561-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=edf39749b1d11b5229382187fc3bc17d-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=eeee811ed32a6f0c63915e0f77f71803-json
android/build/ios/XCBuildData/PIFCache/workspace/WORKSPACE@v11_hash=(null)_subobjects=058ba491cab16e2201320c06dd047ac7-json
